
.jb-igv-menu-popup {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 132px;

  z-index: 4096;

  cursor: pointer;

  font-family: $igv-trackgear-default-font-face;
  font-size: small;
  font-weight: 400;
  color: $igv-trackgear-font-color;

  background: white;

  border-radius: $igv-trackgear-popover-border-radius;
  border-color: $igv-trackgear-grey-color;
  border-style: solid;
  border-width: thin;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  text-align: left;

  > div:not(:first-child) {
    width: 100%;

    > div {
      background: white;
    }

    > div.context-menu {
      padding-left: 4px;
      padding-right: 4px;
    }

    > div:last-child {
      border-bottom-left-radius: $igv-trackgear-popover-border-radius;
      border-bottom-right-radius: $igv-trackgear-popover-border-radius;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: thin;
    }

    > div:hover {
      background: #efefef;
    }

  }

}

.jb-igv-menu-popup-shim {
  padding-left: 8px;
  padding-right: 8px;
  width: unset !important;
}

.jb-igv-menu-popup-header {

  position: relative;
  width: 100%;
  height: 24px;
  cursor: move;

  border-top-color: transparent;
  border-top-left-radius: $igv-trackgear-popover-border-radius;
  border-top-right-radius: $igv-trackgear-popover-border-radius;

  border-bottom-color: $igv-trackgear-grey-color;
  border-bottom-style: solid;
  border-bottom-width: thin;

  background-color: #eee;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  div {
    margin-right: 4px;
    height: 12px;
    width: 12px;
    color: $igv-trackgear-grey-color;
  }

  div:hover {
    cursor: pointer;
    color: #444;
  }

}

.jb-igv-menu-popup-check-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 20px;

  background-color: transparent;

  div {
    padding-top: 2px;
    padding-left: 8px;
  }

  div:first-child {
    position: relative;
    width: 12px;
    height: 12px;

    svg {
      position: absolute;
      width: 12px;
      height: 12px;
    }

  }

}

.jb-igv-menu-popup-chart {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

  height: 16px;

  >div {
    font-size: .75rem;
    font-weight: 800;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  // A
  >div:nth-child(1) {
    background-color: rgb(0, 200, 0);
  }

  // C
  >div:nth-child(2) {
    background-color: rgb(0, 0, 200);
  }

  // T
  >div:nth-child(3) {
    background-color: rgb(255,0,0);
  }

  // G
  >div:nth-child(4) {
    background-color: rgb(209,113, 5);
  }

}
