
.hic-root {
    position: relative;

    left: 0;
    right: 0;
    width: 826px;
    height: 875px;
    background-color: #ffffff;

    border-style: solid;
    border-width: thin;
    border-color: #5f5f5f;

}

.hic-navbar-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    /*background-color: #efefef;*/
    background-color: #ffffff;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #5f5f5f;

}

.hic-logo-container {
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    background-image: url('../img/juicebox-logo-translucent.png');
}

.hic-resolution-selector-container {
    position: relative;
    float: left;
    width: 100px;
    /*height: 28px;*/

    margin-left: 32px;
    margin-top: 3px;

}

.hic-resolution-selector-container label {
    position: relative;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5f5f5f;
}

.hic-resolution-selector-container select {
    position: relative;
    width: 100%;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5f5f5f;

    direction: rtl;

}

.hic-chromosome-goto-container {
    position: relative;
    float: left;
    width: 460px;
    height: 28px;
    margin-left: 8px;
    margin-top: 8px;
}

.hic-chromosome-goto-input {

    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    padding-left: 6px;

    color: #5f5f5f;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: #bfbfbf;

    background-color: white;

}

.hic-content-container {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hic-x-axis {
    position: absolute;
    top: 0;
    left: 25px;
    width: 800px;
    height: 25px;
    overflow-x: hidden;
}

.hic-x-axis-ruler-container {
    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: white;
}

.hic-y-axis {
    position: absolute;
    top: 25px;
    left: 0;
    width: 50px;
    height: 800px;
    overflow-y: hidden;
}

.hic-y-axis-ruler-container {
    position: relative;
    top: 0;
    right:0;
    width: 25px;
    height: 100%;
    background-color: white;
}

.hic-viewport {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 800px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: white;
}

.hic-viewport-canvas {
    width: 100%;
    height: 100%;
}

.hic-viewport-spinner {

    pointer-events:none;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1024;

    font-size: 32px;

    color: #7f7f7f;

}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}