
$nav-bar-height: 60px;
$nav-bar-margin-top: 4px;
$nav-bar-widget-height: 20px;
$nav-bar-label-margin-bottom: 2px;

$chromosome-selector-widget-container-width: 160px;
$chromosome-selector-widget-container-margin: 4px;

$hic-chromosome-selector-widget-button-dimension: 24px;

$hic-viewport-width: 820px;
$hic-viewport-height: 820px;

$hic-scrollbar-height: 20px;

// Axis dimensions are specified assuming both axes run horizontally
// even though the y-axis is rendered vertically
$hic-axis-height: 25px;
$hic-x-axis-width: $hic-viewport-width;
$hic-y-axis-width: $hic-viewport-height;

$hic-root-width:  $hic-scrollbar-height + $hic-axis-height + $hic-viewport-width;
$hic-root-height: $hic-scrollbar-height + $hic-axis-height + $hic-viewport-height + $nav-bar-height;

$default-dark-color: #5f5f5f;
$default-white-color: #fff;
$scrollbar-handle-color: #a5a5a5;

$default-font-family: 'Open Sans', sans-serif;

@mixin scrollbar-span {
  span {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color: white;
    font-family: $default-font-family;
    font-size: 90%;
    font-weight: 400;
  }
}

@mixin navbar-label-select {

  label {
    display: block;
    width: 100%;
    color: $default-dark-color;
    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: $nav-bar-label-margin-bottom;
  }

  select {
    display: block;
    position: relative;
    width: 100%;
    height: $nav-bar-widget-height;

    color: $default-dark-color;
    font-family: $default-font-family;
    font-size: 12px;
    font-weight: 400;
    direction: rtl;
  }

}

@mixin navbar-label-input {

  label {
    display: block;
    width: 100%;
    color: $default-dark-color;
    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;

    margin-bottom: $nav-bar-label-margin-bottom;
  }

  input {
    display: block;
    position: relative;
    width: 100%;
    height: $nav-bar-widget-height - 3px;

    color: #5f5f5f;
    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $default-dark-color;

    background-color: $default-white-color;

  }

}
.hic-sweep-zoom {

  /*pointer-events: none;*/

  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height:200px;

  z-index:99999;

  background-color: rgba(68, 134, 247, 0.25);
}

.hic-root {
  position: relative;

  left: 0;
  right: 0;
  width: $hic-root-width;
  height: $hic-root-height;
  background-color: $default-white-color;

  border-style: solid;
  border-width: thin;
  border-color: $default-dark-color;

}

.hic-navbar-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-bar-height;
  background-color: $default-white-color;

  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: $default-dark-color;

}

.hic-logo-container {
  position: relative;
  float: left;
  width: $nav-bar-height;
  height: $nav-bar-height;
  background-image: url('../img/juicebox-logo-translucent.png');
}

.hic-chromosome-selector-widget-container {

  position: relative;
  float: left;
  width: $chromosome-selector-widget-container-width + $chromosome-selector-widget-container-margin;

  margin-left: 8px;
  margin-top: $nav-bar-margin-top;

  padding-bottom: 2px;

  border-style: solid;
  border-width: thin;
  border-color: $default-dark-color;

  background-color: #efefef;

  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;
    margin-left: $chromosome-selector-widget-container-margin;
    color: $default-dark-color;
  }

  select {
    cursor: pointer;
    float: left;
    position: relative;
    width: .80 * ($chromosome-selector-widget-container-width/2) - $chromosome-selector-widget-container-margin;
    height: $nav-bar-widget-height;

    margin-left: $chromosome-selector-widget-container-margin;

    font-family: $default-font-family;
    font-size: 12px;
    font-weight: 400;
    color: $default-dark-color;
    direction: rtl;
  }

  //i {
  //  display: block;
  //  position: relative;
  //  top: 0;
  //  float: right;
  //  margin-right: 4px;
  //  font-size: 20px;
  //  color: $default-dark-color;
  //}


  //i:hover,
  //i:focus,
  //i:active  {
  //  cursor: pointer;
  //  color: #6bbdeb;
  //}

}

.hic-chromosome-selector-widget-button {
  position: relative;
  float: right;
  margin-right: 4px;
  width: $hic-chromosome-selector-widget-button-dimension;
  height: $hic-chromosome-selector-widget-button-dimension;
  background-image: url('../img/circular-arrows-24-grey.png');
}

.hic-chromosome-selector-widget-button:hover,
.hic-chromosome-selector-widget-button:focus,
.hic-chromosome-selector-widget-button:active  {
  cursor: pointer;
  background-image: url('../img/circular-arrows-24-blue.png');
}

.hic-chromosome-goto-container {

  position: relative;
  float: left;
  width: 360px;
  height: $nav-bar-widget-height;
  margin-left: 8px;
  margin-top: $nav-bar-margin-top;
  //background-color: red;

  @include navbar-label-input;

}

.hic-colorscale-widget-container {
  position: relative;
  float: left;
  width: 80px;
  margin-left: 18px;
  margin-top: $nav-bar-margin-top;
  //background-color: red;

  @include navbar-label-input;

}

.hic-normalization-selector-container {
  position: relative;
  float: left;
  width: 90px;
  margin-left: 8px;
  margin-top: $nav-bar-margin-top;
  //background-color: red;

  @include navbar-label-select
}

.hic-resolution-selector-container {

  position: relative;
  float: left;
  width: 100px;

  margin-left: 10px;
  margin-top: $nav-bar-margin-top;
  //background-color: red;

  @include navbar-label-select
}

.hic-content-container {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hic-x-axis {
  position: absolute;
  top: 0;
  left: $hic-axis-height;
  width: $hic-x-axis-width;
  height: $hic-axis-height;

  div {
    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $default-white-color;
  }
}

.hic-y-axis {
  position: absolute;
  top: $hic-axis-height;
  left: 0;
  width: $hic-axis-height;
  height: $hic-y-axis-width;

  div {
    position: relative;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: $default-white-color;
  }
}

.hic-viewport-container {
  position: absolute;
  left: $hic-axis-height;
  top: $hic-axis-height;
  width: $hic-viewport-width + $hic-scrollbar-height;
  height: $hic-viewport-height + $hic-scrollbar-height;
}

.hic-viewport {
  /*cursor: pointer;*/
  position: relative;
  left: 0;
  top: 0;
  width: $hic-viewport-width;
  height: $hic-viewport-height;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $default-white-color;
}

.hic-viewport-x-axis-scrollbar-container {

  position: absolute;
  left: 0;
  top: $hic-viewport-height;
  height: $hic-scrollbar-height;
  width: $hic-viewport-width;
  background-color: #efefef;

  div {

    display: table;
    cursor: pointer;
    position: absolute;

    /* dynamic x and width */
    left: 25%;
    width: 50%;

    top: 0;
    height: 100%;
    background-color: $scrollbar-handle-color;

    @include scrollbar-span;
  }

}

.hic-viewport-y-axis-scrollbar-container {

  position: absolute;
  top: 0;
  left: $hic-viewport-width;
  width: $hic-scrollbar-height;
  height: $hic-viewport-height;
  background-color: #efefef;

  div {

    display: table;
    cursor: pointer;
    position: absolute;

    /* dynamic y and height */
    top: 25%;
    height: 50%;

    left: 0;
    width: 100%;
    background-color: $scrollbar-handle-color;

    @include scrollbar-span;

  }

}

.hic-viewport-spinner {
  pointer-events:none;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1024;
  font-size: 32px;
  color: #7f7f7f;
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
