.hic-sweep-zoom {
  /*pointer-events: none;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  z-index: 99999;
  background-color: rgba(68, 134, 247, 0.25); }

.hic-root {
  position: relative;
  left: 0;
  right: 0;
  width: 875px;
  height: 935px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: #5f5f5f; }

.hic-navbar-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #5f5f5f; }

.hic-chromosome-selector-widget-container {
  order: 1;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 164px;
  border-style: solid;
  border-width: thin;
  border-color: #5f5f5f;
  background-color: #efefef; }
  .hic-chromosome-selector-widget-container div:first-child {
    order: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f; }
  .hic-chromosome-selector-widget-container div:last-child {
    order: 2;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start; }
    .hic-chromosome-selector-widget-container div:last-child select {
      display: block;
      cursor: pointer;
      width: 60px;
      height: 24px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #5f5f5f;
      direction: rtl; }

.hic-chromosome-selector-widget-button {
  width: 24px;
  height: 24px;
  background-image: url("../img/circular-arrows-24-grey.png"); }

.hic-chromosome-selector-widget-button:hover,
.hic-chromosome-selector-widget-button:focus,
.hic-chromosome-selector-widget-button:active {
  cursor: pointer;
  background-image: url("../img/circular-arrows-24-blue.png"); }

.hic-chromosome-goto-container {
  order: 2;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; }
  .hic-chromosome-goto-container div:first-child {
    color: white; }
  .hic-chromosome-goto-container input {
    display: block;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-style: solid;
    border-width: thin;
    border-color: #5f5f5f;
    background-color: white; }

.hic-colorscale-widget-container {
  order: 3;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; }
  .hic-colorscale-widget-container input {
    display: block;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-style: solid;
    border-width: thin;
    border-color: #5f5f5f;
    background-color: white; }

.hic-normalization-selector-container {
  position: relative;
  float: left;
  width: 90px;
  margin-left: 14px;
  margin-top: 4px; }
  .hic-normalization-selector-container label {
    display: block;
    width: 100%;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px; }
  .hic-normalization-selector-container select {
    display: block;
    position: relative;
    width: 100%;
    height: 24px;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    direction: rtl; }

.hic-resolution-selector-container {
  position: relative;
  float: left;
  width: 100px;
  margin-left: 10px;
  margin-top: 4px; }
  .hic-resolution-selector-container label {
    display: block;
    width: 100%;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px; }
  .hic-resolution-selector-container select {
    display: block;
    position: relative;
    width: 100%;
    height: 24px;
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    direction: rtl; }

.hic-content-container {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.hic-x-axis {
  position: absolute;
  top: 0;
  left: 25px;
  width: 830px;
  height: 25px; }
  .hic-x-axis div {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; }

.hic-y-axis {
  position: absolute;
  top: 25px;
  left: 0;
  width: 25px;
  height: 830px; }
  .hic-y-axis div {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white; }

.hic-viewport-container {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 850px;
  height: 850px; }

.hic-viewport {
  /*cursor: pointer;*/
  position: relative;
  left: 0;
  top: 0;
  width: 830px;
  height: 830px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white; }

.hic-viewport-x-axis-scrollbar-container {
  position: absolute;
  left: 0;
  top: 830px;
  height: 20px;
  width: 830px;
  background-color: #efefef; }
  .hic-viewport-x-axis-scrollbar-container div:first-child {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 1024;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    color: #373737;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 400; }
  .hic-viewport-x-axis-scrollbar-container div:last-child {
    cursor: pointer;
    position: absolute;
    /* dynamic x and width */
    left: 25%;
    width: 50%;
    top: 0;
    height: 100%;
    background-color: #a5a5a5; }

.hic-viewport-y-axis-scrollbar-container {
  position: absolute;
  top: 0;
  left: 830px;
  width: 20px;
  height: 830px;
  background-color: #efefef; }
  .hic-viewport-y-axis-scrollbar-container div:first-child {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 1024;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    color: #373737;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 400; }
  .hic-viewport-y-axis-scrollbar-container div:last-child {
    cursor: pointer;
    position: absolute;
    /* dynamic y and height */
    top: 25%;
    height: 50%;
    left: 0;
    width: 100%;
    background-color: #a5a5a5; }

.hic-viewport-spinner {
  pointer-events: none;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1024;
  font-size: 32px;
  color: #7f7f7f; }

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=hic.css.map */
