@import "encode";

//
$hic-color-swatch-size: 24px;

//
$nav-bar-label-height: 36px;
$nav-bar-widget-container-height: 36px;
$nav-bar-shim-height: 4px;
$nav-bar-height: (2 * $nav-bar-label-height) + (2 * $nav-bar-widget-container-height) + $nav-bar-shim-height;

$nav-bar-widget-height: 24px;
$chromosome-selector-widget-container-width: 160px;

//
$hic-colorscale-widget-plus-minus-margin: 8px;

//
$hic-whole-genome-chromosome-highlight-color: rgba(0, 0, 0, 0.1);

//
$hic-scrollbar-height: 20px;
$hic-axis-height: 32px;

//
$track-count: 0;
$track-height: 32px;
$track-aggregate-height: $track-count * $track-height;

//
$hic-viewport-width: 800px;
$hic-viewport-height: 800px;
$hic-viewport-spinner-size: 120px;

//
$hic-menu-item-height: 64px;
$hic-menu-item-padding: 8px;
$hic-menu-margin: 8px;

//
$hic-root-width: $hic-scrollbar-height + $hic-axis-height + $hic-viewport-width;
$hic-root-height: $hic-scrollbar-height + $hic-axis-height + $hic-viewport-height + $nav-bar-height;

$hic-annotation-modal-row-height: 40px;

$matrix-diagonal-widget-container-size: 16px;

//
$default-light-color: #f7f7f7;
$default-medium-color: #a6a6a6;
$default-dark-color: #5f5f5f;
$default-dark-dark-color: #373737;

$default-hover-color: #0f0f0f;

$scrollbar-handle-color: #a5a5a5;
$scrollbar-color: #efefef;

$default-font-family: 'Open Sans', sans-serif;

@mixin x-scrollbar-label {
  div {

    display: inline-block;

    // center vertically/horizontally
    position: absolute;
    margin: auto;

    left: 0;
    top: 0;

    right: 0;
    bottom: 0;

    height: $hic-scrollbar-height;
    width: 100%;

    z-index: 512;

    vertical-align: middle;
    text-align: center;
    line-height: $hic-scrollbar-height;

    color: #373737;

    font-family: $default-font-family;
    font-size: medium;
    font-weight: 400;

    white-space: nowrap;

  }
}

@mixin y-scrollbar-label {
  div {

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);

    z-index: 512;

    vertical-align: middle;
    text-align: center;
    line-height: $hic-scrollbar-height;

    color: #373737;

    font-family: $default-font-family;
    font-size: medium;
    font-weight: 400;

    white-space: nowrap;

  }
}

@mixin navbar-select {

  select {
    display: block;

    height: $nav-bar-widget-container-height - 4px;
    width: 96px;

    font-family: $default-font-family;
    font-weight: 400;
    color: $default-dark-color;

    //direction: rtl;
  }

}

@mixin navbar-input {

  input {
    display: block;

    height: $nav-bar-widget-container-height - 4px;
    width: 100%;
    padding-left: 4px;

    font-family: $default-font-family;
    font-weight: 400;
    color: $default-dark-color;
    text-align: left;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $default-medium-color;

    background-color: white;
  }

}

@mixin navbar-color-scale-input {

  input {
    display: block;

    margin-right: 4px;
    height: $nav-bar-widget-container-height - 4px;
    width: 96px;
    padding: 4px;

    font-family: $default-font-family;
    font-weight: 400;
    color: $default-dark-color;
    text-align: left;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $default-medium-color;

    background-color: white;
  }

}

@mixin menu-item {

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100%;

  padding-left: $hic-menu-item-padding;

  margin-top: $hic-menu-margin;
  margin-bottom: $hic-menu-margin;

  background-color: transparent;

}

#hic-modal-button-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 64px;
  margin-left: 32px;

  height: 64px;

  > div {
    margin-left: 12px;
    margin-right: 12px;
  }

}

// IGV hacks
.igv-right-hand-gutter {
  top: 0;
  margin-top: 4px;
  background-color: transparent;
  width: unset;
}

.igv-trackgear-container {
  margin-left: unset;
  color: $default-dark-color;
  width: 14px;
  height: 14px;
}

#hic-encode-modal > .modal-dialog {
  max-width: 90% !important;
  width: 90% !important;
}

.hic-root {
  position: relative;

  left: 0;
  right: 0;
  width: $hic-root-width;
  height: $hic-root-height;

  margin: 4px;

  background-color: white;

  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;

}

.hic-root-prevent-interaction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.25);
  //background-color: rgba(255, 0, 0, 0.25);
  z-index: 1024;
}

.hic-menu {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;

  z-index: 4096;

  background-color: $scrollbar-color;

  border-right-style: solid;
  border-right-width: thin;
  border-right-color: $default-dark-color;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  // container: chromosome-label | chromosome-selector-container
  .hic-chromosome-selector-widget-container {

    @include menu-item;

    // label: 'Chromosome'
    div {
      padding-top: 2px;
      padding-bottom: 4px;
    }

    // container: selector-container
    div {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      select {
        display: block;
        cursor: pointer;
        width: 64px;
        height: $nav-bar-widget-height;

        margin-right: 8px;
        direction: rtl;
      }

      div {
        width: 24px;
        height: 24px;
        background-image: url('img/circular-arrows-24-grey.png');
        background-repeat: no-repeat;
      }

      div:hover,
      div:focus,
      div:active {
        cursor: pointer;
        background-image: url('img/circular-arrows-24-blue.png');
      }

    }

  }

  // colorscale
  .hic-colorscale-widget-container {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    width: 95%;

    margin-top: 2 * $hic-menu-item-padding;
    margin-bottom: $hic-menu-item-padding;

    @include navbar-color-scale-input;

    i.fa {
      display: block;
      margin-left: 4px;
      margin-right: 4px;
      color: $default-dark-color;
    }

    i.fa:hover,
    i.fa:focus,
    i.fa:active {
      cursor: pointer;
      color: $default-hover-color;
    }

  }

  // normalization
  .hic-normalization-selector-container {

    @include menu-item;

    @include navbar-select;

    select {
      width: 95%;
    }

  }

  // resolution
  .hic-resolution-selector-container {

    @include menu-item;

    div#hic-resolution-label-container {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: flex-start;

      cursor: pointer;

      i.fa#hic-resolution-lock {
        display: block;
        font-size: 12px;
        padding-top: 4px;
        padding-left: 5px;
      }

      i.fa:hover,
      i.fa:focus,
      i.fa:active {
        cursor: pointer;
        color: $default-hover-color;
      }

    }

    @include navbar-select;

    select {
      width: 95%;
    }

  }

  // annotations
  .hic-annotation-presentation-button-container {

    @include menu-item;

    button {
      display: block;

      width: 90%;

      padding: 8px;

      box-shadow: none;

      border-radius: 0;

      border-style: solid;
      border-width: thin;
      border-color: $default-medium-color;

      background-color: transparent;

    }

    button:hover,
    button:active {
      cursor: pointer;
      background-color: #dfdfdf;
    }

    button:focus {
      outline: none;
    }


  }

}

.hic-menu > div:hover,
.hic-menu > div:focus,
.hic-menu > div:active {
  cursor: pointer;
}

// menu close
.hic-menu-close-button {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: $hic-menu-item-height / 2;

  margin-top: $hic-menu-margin / 2;
  margin-bottom: $hic-menu-margin / 2;

  padding-right: $hic-menu-margin;

  i.fa {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    color: $default-dark-color;
  }

  i.fa:hover,
  i.fa:focus,
  i.fa:active {
    cursor: pointer;
    color: $default-hover-color;
  }

}

.hic-annotation-panel-container {

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  position: absolute;
  top: 25%;
  left: 15%;

  width: 700px;

  border-style: solid;
  border-width: thin;
  border-color: $default-dark-color;

  background-color: white;

  z-index: 5000;

  color: #0f0f0f;
  font-family: $default-font-family;
  font-size: 12px;
  font-weight: 600;

  .hic-annotation-panel-header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: $hic-color-swatch-size;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #dddddd;

    background-color: #dddddd;

    div:first-child {

      display: block;
      margin-top: 2px;
      margin-left: 8px;
      margin-right: 4px;
      text-align: left;
      text-overflow: ellipsis;



      //display: flex;
      //flex-flow: row;
      //flex-wrap: nowrap;
      //justify-content: center;
      //align-items: center;

      width: 200px;
      height: 100%;
    }

    i.fa {
      display: block;
      margin-right: 4px;
      color: $default-dark-color;
    }

    i.fa:hover,
    i.fa:focus,
    i.fa:active {
      cursor: pointer;
      color: $default-hover-color;
    }
  }

  .hic-annotation-panel-load-container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: $hic-annotation-modal-row-height;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #dddddd;

    //background-color: rgba(173, 255, 47, 0.51);

    font-size: 14px;
    font-weight: 400;

    div {
      margin-left: 8px;
      background-color: rgba(94, 219, 255, 0.51);
    }

    //div:first-child {
    //  margin-left: 2px;
    //  margin-right: 2px;
    //  background-color: rgba(173, 255, 47, 0.51);
    //}
    //
    //div:last-child {
    //  margin-left: 2px;
    //  margin-right: 2px;
    //  background-color: rgba(255, 0, 0, 0.51);
    //}


  }

  .hic-annotation-row-container {

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

  }

  .hic-annotation-modal-row {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    background-color: white;

    cursor: default;

    >div:first-child {
      display: block;
      margin-left: 8px;
      margin-right: 4px;
      text-align: left;
      text-overflow: ellipsis;
      width: 384px;
    }

    >i.fa {
      display: block;
      //margin-left: 32px;
      //margin-right: 32px;
      color: $default-dark-color;
    }

    >i.fa:last-child {
      margin-right: 32px;
    }
    .matrix-diagonal-widget-container {

      cursor: pointer;

      width: $matrix-diagonal-widget-container-size;
      height: $matrix-diagonal-widget-container-size;

      background-repeat: no-repeat;
      background-size: $matrix-diagonal-widget-container-size $matrix-diagonal-widget-container-size;
    }

    .matrix-diagonal-widget-all {
      background: url(img/matrix-diagonal-all.svg);
    }

    .matrix-diagonal-widget-lower {
      background: url(img/matrix-diagonal-lower.svg);
    }

    .matrix-diagonal-widget-upper {
      background: url(img/matrix-diagonal-upper.svg);
    }

    .up-down-arrow-container {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;

      i.fa:first-child {
        display: block;
        margin-left: 32px;
        margin-right: 8px;
        color: $default-dark-color;
      }

      i.fa:last-child {
        display: block;
        margin-left: 8px;
        margin-right: 32px;
        color: $default-dark-color;
      }

    }

  }

  .hic-annotation-modal-row:hover,
  .hic-annotation-modal-row:focus,
  .hic-annotation-modal-row:active {
    background-color: #f7f7f7;
  }

}

// menu - annotation panel - color picker
.hic-color-swatch-container {

  position: absolute;

  z-index: 4096;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background-color: white;

  div:first-child {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: $hic-color-swatch-size;

    i.fa {
      display: block;
      margin-right: 4px;
      color: $default-dark-color;
    }

    i.fa:hover,
    i.fa:focus,
    i.fa:active {
      cursor: pointer;
      color: $default-hover-color;
    }
  }

}

// navbar
.hic-navbar-container {

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: $nav-bar-height;

  color: $default-dark-color;
  font-family: $default-font-family;

  font-size: 14px;
  font-weight: 400;

  background-color: $default-light-color;

  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: transparent;

  // container: contact map label | menu button | browser delete button
  div[id$="hic-nav-bar-map-container"] {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    height: $nav-bar-label-height;

    // nav-bar contact map label
    div[id$="hic-nav-bar-map-label"] {

      height: 100%;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      vertical-align: middle;
      line-height: $nav-bar-label-height;

      border-bottom-style: solid;
      border-bottom-width: thin;
      border-bottom-color: transparent;

      background-color: transparent;

    }

    // menu presentation
    .hic-nav-bar-button-container {

      height: 100%;

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;

      color: $default-dark-color;

      i {
        display: block;
        margin-top: 8px;

      }

      i:first-child {
        margin-right: 4px;
      }

      i:last-child {
        margin-left: 4px;
      }

      i:hover {
        cursor: pointer;
        color: $default-hover-color;
      }

    }

  }

  // nav-bar widget container. Two instances are used
  div[id$="hic-nav-bar-widget-container"] {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    height: $nav-bar-widget-container-height;

    margin-top: 4px;
    margin-bottom: 4px;
  }

  .hic-nav-bar-shim {
    width: 100%;
    height: $nav-bar-shim-height;
    background-color: transparent;
  }

}

// navbar - chromosome goto
.hic-chromosome-goto-container {
  width: 75%;
  @include navbar-input;
}

// navbar - colorscale
.hic-colorscale-widget-container {

  width: 30%;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  > i.fa-minus {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    color: $default-dark-color;
  }

  > i.fa-plus {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    color: $default-dark-color;
  }

  @include navbar-color-scale-input;

  input {
    width: 30%;
  }

  i.fa-minus {
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    color: $default-dark-color;
  }

  i.fa-minus:hover,
  i.fa-minus:focus,
  i.fa-minus:active {
    cursor: pointer;
    color: $default-hover-color;
  }

  i.fa-plus {
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    color: $default-dark-color;
  }

  i.fa-plus:hover,
  i.fa-plus:focus,
  i.fa-plus:active {
    cursor: pointer;
    color: $default-hover-color;
  }

}

// navbar - control map
.hic-control-map-selector-container {

  // shim
  margin-left: 40px;

  width: 20%;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  @include navbar-select;

  div {
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
  }

}

// navbar - normalization
.hic-normalization-selector-container {

  //margin-left: 2%;
  width: 25%;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  div {
    display: block;
    margin-right: 6px;
  }

  @include navbar-select;

  select {
    width: 75%;
  }

}

// navbar - resolution
.hic-resolution-selector-container {

  width: 25%;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  div#hic-resolution-label-container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    margin-right: 6px;
    cursor: pointer;

    i.fa#hic-resolution-lock {
      display: block;
      font-size: 12px;
      padding-top: 4px;
      padding-left: 5px;
    }

    i.fa:hover,
    i.fa:focus,
    i.fa:active {
      cursor: pointer;
      color: $default-hover-color;
    }

  }

  @include navbar-select;

  select {
    width: 74%;
  }

}

// container: track-shim | x-tracks
div[id$="x-track-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;
  height: $track-aggregate-height;

  background-color: white;

  // track shim
  div[id$="track-shim"] {
    width: $track-aggregate-height;
    height: 100%;
    margin-right: $hic-axis-height;
  }

  // x-tracks
  div[id$="x-tracks"] {

    position: relative;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
    height: 100%;
    margin-right: $hic-scrollbar-height;

    // y - guide
    div[id$="y-track-guide"] {
      position: absolute;

      top: 0;
      left: 50%;

      width: 1px;
      height: 100%;

      border-left-style: dotted;
      border-left-width: thin;
      border-left-color: rgba(32, 32, 32, 1);

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      z-index: 666;
    }

    // canvas container
    .x-track-canvas-container {

      cursor: pointer;

      // reference point for child divs with position: absolute
      position: relative;

      width: 100%;
      margin-right: 0;

      // Keep in sync with LayoutController.track_margin
      margin-bottom: 2px;

      // canvas inserted here

      // x-track label
      .x-track-label {
        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;

        height: 22px;

        margin-top: 0.125 * $track-height;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 1px;
        padding-bottom: 1px;

        font-family: $default-font-family;
        font-size: 12px;
        font-weight: 400;

        text-align: center;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      // x-track spinner container
      .x-track-spinner {
        position: absolute;

        top: 0;
        left: 50%;

        width: $track-height;
        height: $track-height;

        margin-left: -($track-height/2);

        background-color: rgba(255, 255, 255, 0);
      }

    }

  }

}

// container : (container: x-axis) | (container: y-tracks | y-axis | viewport | y-scrollbar) | (container: x-scrollbar)
div[id$="content-container"] {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;

  // Use for Bootstrap-ped site
  height: calc(100% - (#{$nav-bar-height} + #{$track-aggregate-height}));

  background-color: white;

  // container: x-axis
  div[id$="x-axis-container"] {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;
    height: $hic-axis-height;

    // x-axis
    div[id$="x-axis"] {

      width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;
      margin-right: $hic-scrollbar-height;
      background-color: white;

      div[id$="x-axis-whole-genome-container"] {

        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        // whole genome divs
        .x-axis-whole-genome-chromosome-container {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;

          font-family: $default-font-family;
          font-size: 8px;
          font-weight: 400;
          color: #444;

          height: 100%;

          border-left-color: transparent;
          border-left-style: solid;
          border-left-width: thin;

          border-right-color: #bfbfbf;
          border-right-style: solid;
          border-right-width: thin;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .x-axis-whole-genome-chromosome {
          }

        }

        .x-axis-whole-genome-chromosome-container:last-child {
          border-right-color: transparent;
        }

      }

    }

  }

  // container: y-tracks | y-axis | viewport | y-scrollbar
  div[id$="y-tracks-y-axis-viewport-y-scrollbar"] {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;

    height: calc(100% - (#{$hic-axis-height} + #{$hic-scrollbar-height}));

    background-color: white;

    // y-tracks
    div[id$="y-tracks"] {

      position: relative;

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      width: $track-aggregate-height;
      height: 100%;

      background-color: white;

      // y - guide
      div[id$="x-track-guide"] {
        position: absolute;

        top: 50%;
        left: 0;

        width: 100%;
        height: 1px;

        border-top-style: dotted;
        border-top-width: thin;
        border-top-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        z-index: 666;
      }

      // y-track canvas container
      .y-track-canvas-container {
        display: block;
        position: relative;
        height: 100%;

        // Keep in sync with LayoutController.track_margin
        margin-right: 2px;

        background-color: white;

        // canvas inserted here

        // y-track spinner container
        .y-track-spinner {
          display: block;
          position: absolute;

          top: 50%;
          left: 0;

          width: $track-height;
          height: $track-height;

          margin-top: -($track-height/2);

          //z-index: 512;

          background-color: rgba(255, 255, 255, 0);
        }
      }

    }

    // y-axis
    div[id$="y-axis"] {

      width: $hic-axis-height;
      height: 100%;
      margin-bottom: $hic-scrollbar-height;
      background-color: white;

      div[id$="y-axis-whole-genome-container"] {

        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        // whole genome divs
        .y-axis-whole-genome-chromosome-container {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;

          font-family: $default-font-family;
          font-size: 8px;
          font-weight: 400;
          color: #444;

          width: 100%;

          border-top-color: transparent;
          border-top-style: solid;
          border-top-width: thin;

          border-bottom-color: #bfbfbf;
          border-bottom-style: solid;
          border-bottom-width: thin;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .y-axis-whole-genome-chromosome {
            transform: rotate(-90deg);
          }

        }

        .y-axis-whole-genome-chromosome-container:last-child {
          border-bottom-color: transparent;
        }

      }

    }

    // viewport
    div[id$="viewport"] {
      display: block;

      position: relative;
      left: 0;
      top: 0;
      width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;

      overflow-x: hidden;
      overflow-y: hidden;

      // spinner container
      div[id$="viewport-spinner-container"] {
        display: table-cell;

        margin: auto;

        position: absolute;
        top: 25%;
        //bottom:0;

        left: 0;
        right: 0;

        height: $hic-viewport-spinner-size;
        width: $hic-viewport-spinner-size;

        z-index: 2048;

        pointer-events: none;

        background-color: rgba(255, 255, 255, 0);

      }

      // sweep zoom container
      div[id$="sweep-zoom-container"] {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;

        z-index: 512;
        background-color: rgba(68, 134, 247, 0.25);
      }

      // x - guide
      div[id$="x-guide"] {
        position: absolute;

        top: 50%;
        left: 0;

        width: 100%;
        height: 1px;

        border-top-style: dotted;
        border-top-width: thin;
        border-top-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        z-index: 555;
      }

      // y - guide
      div[id$="y-guide"] {
        position: absolute;

        top: 0;
        left: 50%;

        width: 1px;
        height: 100%;

        border-left-style: dotted;
        border-left-width: thin;
        border-left-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        z-index: 666;
      }

    }

    // y-scrollbar
    div[id$="y-axis-scrollbar-container"] {
      display: block;
      position: relative;

      width: $hic-scrollbar-height;
      height: 100%;
      background-color: $scrollbar-color;

      div[id$="y-axis-scrollbar"] {
        position: relative;

        /* dynamic y and height */
        top: 25%;
        height: 50%;

        left: 0;
        width: 100%;
        background-color: $scrollbar-handle-color;

        @include y-scrollbar-label;

      }

    }

  }

  // container: x-scrollbar
  div[id$="x-scrollbar-container"] {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;
    height: $hic-scrollbar-height;

    // x-scrollbar
    div[id$="x-axis-scrollbar-container"] {
      display: block;
      position: relative;

      width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;
      margin-right: $hic-scrollbar-height;
      background-color: $scrollbar-color;

      div[id$="x-axis-scrollbar"] {
        position: relative;

        /* dynamic x and width */
        left: 25%;
        width: 50%;

        top: 0;
        height: 100%;
        background-color: $scrollbar-handle-color;

        @include x-scrollbar-label;
      }

    }

  }
}

.hic-whole-genome-chromosome-highlight {
  cursor: pointer;
  background-color: $hic-whole-genome-chromosome-highlight-color;
}

.hic-track-menu {
  position: absolute;
  color: white;
  width: 120px;
  height: 120px;
  background-color: #3a8ab4;
}

.juicebox-app-caption-container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  .juicebox-app-clone-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .hic-caption-container {
    height: 64px;
    width: 100%;

    margin-top: 16px;
    padding-top: 4px;
    padding-left: 8px;

    font-size: medium;
    background-color: #efefef;
  }

}

.juicebox-app-clone-button {

  cursor: pointer;

  color: $default-dark-color;

  i.fa-plus-circle {
    float: left;
  }

  margin-top: 10px;
}

.juicebox-app-clone-button:hover,
.juicebox-app-clone-button:focus,
.juicebox-app-clone-button:active {
  color: $default-hover-color;
}

.hic-root-selected {
  //border-color: #df0000;
  border-color: #5f5f5f;
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// remove modal backdrop scrim
.modal-backdrop {
  background-color: transparent;
}

.hidden-text {
  color: transparent;
}

.site-widget {
  float: left;
  margin-left: 4px;
  margin-right: 32px;

  ul {
    z-index: 2048;
  }

}
