
//
$nav-bar-label-height: 32px;
$nav-bar-widget-container-height: 70px;
$nav-bar-height: $nav-bar-label-height + $nav-bar-widget-container-height;
$nav-bar-padding-bottom: 8px;
$nav-bar-widget-height: 24px;
$chromosome-selector-widget-container-width: 160px;

//
$hic-scrollbar-height: 20px;
$hic-axis-height: 32px;

//
$track-count: 0;
$track-height: 32px;
$track-aggregate-height: $track-count * $track-height;

//
$hic-viewport-width: 800px;
$hic-viewport-height:800px;
$hic-viewport-spinner-size: 120px;

//
//$hic-root-width:  800px;
//$hic-root-height: 600px;
$hic-root-width:  $hic-scrollbar-height + $hic-axis-height + $hic-viewport-width;

$hic-root-height: $hic-scrollbar-height + $hic-axis-height + $hic-viewport-height + $nav-bar-height + $nav-bar-padding-bottom;

//
$default-light-color: #f7f7f7;
$default-dark-color: #5f5f5f;
$default-dark-dark-color: #373737;
$scrollbar-handle-color: #a5a5a5;
$scrollbar-color: #efefef;

$default-font-family: 'Open Sans', sans-serif;

@mixin x-scrollbar-label {
  div {

    display: inline-block;

    // center vertically/horizontally
    position: absolute;
    margin: auto;

    left:0;
    top:0;

    right:0;
    bottom:0;

    height: $hic-scrollbar-height;
    width: 100%;

    z-index: 512;

    vertical-align: middle;
    text-align:center;
    line-height: $hic-scrollbar-height;

    color: #373737;

    font-family: $default-font-family;
    font-size: medium;
    font-weight: 400;

  }
}

@mixin y-scrollbar-label {
  div {

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);

    //height: 100%;
    //width: $hic-scrollbar-height;

    z-index: 512;

    vertical-align: middle;
    text-align:center;
    line-height: $hic-scrollbar-height;

    color: #373737;
    //background-color: red;

    font-family: $default-font-family;
    font-size: medium;
    font-weight: 400;

  }
}

@mixin navbar-select {

  select {
    display: block;

    margin-top:4px;
    height: 24px;
    width:100%;

    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;
    color: $default-dark-color;

    direction: rtl;
  }

}

@mixin navbar-input {

  input {
    display: block;

    margin-top:4px;
    height: 24px;
    width: 100%;

    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 400;
    color: $default-dark-color;

    padding-left: 4px;
    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $default-dark-color;

    background-color: white;
  }

}

.juicebox-widget-container {
  //height: 40px;
  padding-top: 4px;
  padding-bottom: 8px;
  color: white;
  //background-color: red;
}

.blue-backdrop {
  height: 8px;
  background-color: dodgerblue;
}

.red-backdrop {
  height: 8px;
  background-color: orangered;
}

.green-backdrop {
  background-color: greenyellow;
}

.green-box {
  height: 40px;
  color: white;
  background-color: green;
}

.blue-box {
  height: 40px;
  color: white;
  background-color: blue;
}

.bootstrap-row-shim-top-4 { margin-top: 4px; }
.bootstrap-row-shim-top-8 { margin-top: 8px; }

.bootstrap-row-shim-bottom-4 { margin-bottom: 4px; }
.bootstrap-row-shim-bottom-8 { margin-bottom: 8px; }

// root
.hic-root {
  position: relative;

  left: 0;
  right: 0;
  width: $hic-root-width;
  height: $hic-root-height;
  background-color: white;

  border-style: solid;
  border-width: thin;
  border-color: $default-dark-color;

}

// navbar
.hic-navbar-container {

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  width: 100%;
  height: $nav-bar-height;

  color: $default-dark-color;
  font-family: $default-font-family;
  font-size: 14px;
  font-weight: 400;

  background-color: white;

  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: $default-dark-color;

  padding-bottom: $nav-bar-padding-bottom;

  #hic-nav-bar-contact-map-label {
    width: 100%;
    height: $nav-bar-label-height;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: $default-dark-color;

    background-color: $default-light-color;

    padding-left: 8px;
    padding-top: 4px;
  }

  #hic-nav-bar-widget-container {
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;

    width: 100%;
    height: $nav-bar-widget-container-height;
    background-color: white;
  }

}

// navbar - chromosome selector
.hic-chromosome-selector-widget-container {
  order:1;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: $chromosome-selector-widget-container-width;
  padding-left: 4px;
  padding-bottom: 4px;

  border-style: solid;
  border-width: thin;
  border-color: $default-dark-color;

  //background-color: #efefef;

  div:first-child {
    order:1;
    padding-top:2px;
    padding-bottom:2px;
  }

  div:last-child {
    order:2;

    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    select {
      display:block;
      cursor: pointer;
      width: .70 * ($chromosome-selector-widget-container-width/2);
      height: $nav-bar-widget-height;

      margin-right: 4px;
      direction: rtl;
    }

  }


}

.hic-chromosome-selector-widget-button {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  background-image: url('img/circular-arrows-24-grey.png');
  background-repeat: no-repeat;
}

.hic-chromosome-selector-widget-button:hover,
.hic-chromosome-selector-widget-button:focus,
.hic-chromosome-selector-widget-button:active  {
  cursor: pointer;
  background-image: url('img/circular-arrows-24-blue.png');
}

// navbar - chromosome goto
.hic-chromosome-goto-container {
  order:2;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 360px;

  div:first-child {
    color: white;
  }

  @include navbar-input;

}

// navbar - colorscale
.hic-colorscale-widget-container {
  order:3;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 80px;

  @include navbar-input;

}

// navbar - normalization
.hic-normalization-selector-container {
  order:4;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100px;

  @include navbar-select;

}

// navbar - resolution
.hic-resolution-selector-container {
  order:5;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100px;

  @include navbar-select;

}

// container: track-shim | x-tracks
#x-track-container {
  display:flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;
  height: $track-aggregate-height;

  background-color: white;

  // track shim
  #track-shim {
    width: $track-aggregate-height;
    height: 100%;
    margin-right: $hic-axis-height;
  }

  // x-tracks
  #x-tracks {

    position:relative;

    display:flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
    height: 100%;
    margin-right: $hic-scrollbar-height;

    // y - guide
    #y-track-guide {
      position: absolute;

      top:0;
      left: 50%;

      width: 1px;
      height: 100%;

      border-left-style: dotted;
      border-left-width: thin;
      border-left-color: rgba(32, 32, 32, 1);

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      //background-color: blue;

      z-index: 666;
    }

    // canvas container
    .x-track-canvas-container {

      cursor: pointer;

      // reference point for child divs with position: absolute
      position: relative;

      width:100%;
      margin-right:0;

      // canvas inserted here

      // x-track label
      .x-track-label {

        display: inline-block;

        position: absolute;

        top:  0;
        left: 0;

        //width:  4.0 * $track-height;
        //height: 0.5 * $track-height;
        height: 22px;

        border-style: solid;
        border-width: thin;
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.25);

        margin-top: 0.125 * $track-height;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 1px;
        padding-bottom: 1px;


        color: $default-dark-color;
        font-family: $default-font-family;
        font-size: 12px;
        font-weight: 400;

        text-align: center;
        vertical-align: top;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        z-index: 512;

        background-color: rgba(255, 255, 255, 0.75);
        //background-color: greenyellow;
      }

      // x-track spinner container
      .x-track-spinner {
        position: absolute;

        top: 0;
        left: 50%;

        width: $track-height;
        height: $track-height;

        margin-left: -($track-height/2);

        z-index: 512;

        background-color: rgba(255, 255, 255, 0);
        //background-color: greenyellow;
      }

      // x-track menu container
      .x-track-menu-container {
        position: absolute;

        display: inline-block;

        top:  0;
        right: 0;

        width:  $track-height;
        height: $track-height;

        font-size: 0.50 * $track-height;
        text-align: center;
        //line-height: $track-height;
        //vertical-align: middle;

        //padding-top: 0;
        //padding-bottom: 0;

        z-index: 1024;

        color: $default-dark-color;
        //background-color: rgba(255, 255, 255, 0.75);

      }

      .x-track-menu-container:hover,
      .x-track-menu-container:focus,
      .x-track-menu-container:active  {
        cursor: pointer;
        color: $default-dark-dark-color;
      }

    }

  }

}

// container : (container: x-axis) | (container: y-tracks | y-axis | viewport | y-scrollbar) | (container: x-scrollbar)
#content-container {
  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width:  100%;

  // Use for non-Bootstrap-ped site
  height: calc(100% - (#{$nav-bar-height} + #{$nav-bar-padding-bottom} + #{$track-aggregate-height}));

  // Use for Bootstrap-ped site
  //height: calc(100% - (#{$nav-bar-height} + #{$track-aggregate-height}));

  background-color: white;

  // container: x-axis
  #x-axis-container {
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;
    height: $hic-axis-height;

    // x-axis
    #x-axis {
      width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;
      margin-right: $hic-scrollbar-height;
      background-color: white;
    }

  }

  // container: y-tracks | y-axis | viewport | y-scrollbar
  #y-tracks-y-axis-viewport-y-scrollbar {
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;

    // THIS FIXES SAFARI AND FIREFOX LAYOUT INCOMPATIBILITY
    //height: 100%;
    height: calc(100% - (#{$hic-axis-height} + #{$hic-scrollbar-height}));

    background-color: white;

    // y-tracks
    #y-tracks {

      position:relative;

      display:flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      width: $track-aggregate-height;
      height: 100%;

      background-color: white;

      // y - guide
      #x-track-guide {
        position: absolute;

        top:50%;
        left: 0;

        width: 100%;
        height: 1px;

        border-top-style: dotted;
        border-top-width: thin;
        border-top-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        //background-color: red;

        z-index: 666;
      }

      // y-track canvas container
      .y-track-canvas-container {
        display: block;
        position: relative;
        height: 100%;
        margin-right: 0;

        background-color: white;

        // canvas inserted here

        // y-track spinner container
        .y-track-spinner {
          display: block;
          position: absolute;

          top: 50%;
          left: 0;

          width: $track-height;
          height: $track-height;

          margin-top: -($track-height/2);

          z-index: 512;

          background-color: rgba(255, 255, 255, 0);
          //background-color: #58c0fb;

        }
      }

    }

    // y-axis
    #y-axis {
      width: $hic-axis-height;
      height: 100%;
      margin-bottom: $hic-scrollbar-height;
      background-color: white;
    }

    // viewport
    #viewport {
      display:block;

      position: relative;
      left:0;
      top: 0;
      width:  calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;

      overflow-x: hidden;
      overflow-y: hidden;

      // spinner container
      #viewport-spinner-container {
        display: table-cell;

        margin: auto;

        position: absolute;
        top:25%;
        //bottom:0;

        left:0;
        right:0;

        height: $hic-viewport-spinner-size;
        width: $hic-viewport-spinner-size;

        z-index: 512;

        pointer-events:none;

        background-color: rgba(255, 255, 255, 0);

      }

      // sweep zoom container
      #sweep-zoom-container {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;

        z-index:512;
        background-color: rgba(68, 134, 247, 0.25);
      }

      // x - guide
      #x-guide {
        position: absolute;

        top: 50%;
        left: 0;

        width: 100%;
        height: 1px;

        border-top-style: dotted;
        border-top-width: thin;
        border-top-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        //background-color: red;

        z-index: 555;
      }

      // y - guide
      #y-guide {
        position: absolute;

        top:0;
        left: 50%;

        width: 1px;
        height: 100%;

        border-left-style: dotted;
        border-left-width: thin;
        border-left-color: rgba(32, 32, 32, 1);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        //background-color: blue;

        z-index: 666;
      }

    }

    // y-scrollbar
    #y-axis-scrollbar-container {
      display:block;
      position: relative;

      width: $hic-scrollbar-height;
      height: 100%;
      background-color: $scrollbar-color;

      #y-axis-scrollbar {
        position: relative;

        /* dynamic y and height */
        top: 25%;
        height: 50%;

        left: 0;
        width: 100%;
        background-color: $scrollbar-handle-color;

        @include y-scrollbar-label;

      }

    }

  }

  // container: x-scrollbar
  #x-scrollbar-container {
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 100%;
    height: $hic-scrollbar-height;

    // x-scrollbar
    #x-axis-scrollbar-container {
      display:block;
      position: relative;

      width: calc(100% - (#{$track-aggregate-height} + #{$hic-axis-height} + #{$hic-scrollbar-height}));
      height: 100%;
      margin-right: $hic-scrollbar-height;
      background-color: $scrollbar-color;

      #x-axis-scrollbar {
        position: relative;

        /* dynamic x and width */
        left: 25%;
        width: 50%;

        top: 0;
        height: 100%;
        background-color: $scrollbar-handle-color;

        @include x-scrollbar-label;
      }

    }

  }
}

.hic-track-menu {
  position: absolute;
  color: white;
  width: 120px;
  height: 120px;
  background-color: #3a8ab4;
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
