.hic-root {
  position: relative;
  left: 0;
  right: 0;
  width: 800px;
  height: 600px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: #5f5f5f; }

.hic-navbar-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 70px;
  padding-bottom: 8px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5f5f5f;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #5f5f5f; }

.hic-chromosome-selector-widget-container {
  order: 1;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 160px;
  padding-left: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-width: thin;
  border-color: #5f5f5f;
  background-color: #efefef; }
  .hic-chromosome-selector-widget-container div:first-child {
    order: 1;
    padding-top: 2px;
    padding-bottom: 2px; }
  .hic-chromosome-selector-widget-container div:last-child {
    order: 2;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start; }
    .hic-chromosome-selector-widget-container div:last-child select {
      display: block;
      cursor: pointer;
      width: 56px;
      height: 24px;
      margin-right: 4px;
      direction: rtl; }

.hic-chromosome-selector-widget-button {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  background-image: url("../img/circular-arrows-24-grey.png");
  background-repeat: no-repeat; }

.hic-chromosome-selector-widget-button:hover,
.hic-chromosome-selector-widget-button:focus,
.hic-chromosome-selector-widget-button:active {
  cursor: pointer;
  background-image: url("../img/circular-arrows-24-blue.png"); }

.hic-chromosome-goto-container {
  order: 2;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 360px; }
  .hic-chromosome-goto-container div:first-child {
    color: white; }
  .hic-chromosome-goto-container input {
    display: block;
    margin-top: 4px;
    height: 20px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f;
    padding-left: 4px;
    outline: none;
    border-style: solid;
    border-width: thin;
    border-color: #5f5f5f;
    background-color: white; }

.hic-colorscale-widget-container {
  order: 3;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80px; }
  .hic-colorscale-widget-container input {
    display: block;
    margin-top: 4px;
    height: 20px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f;
    padding-left: 4px;
    outline: none;
    border-style: solid;
    border-width: thin;
    border-color: #5f5f5f;
    background-color: white; }

.hic-normalization-selector-container {
  order: 4;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100px; }
  .hic-normalization-selector-container select {
    display: block;
    margin-top: 4px;
    height: 24px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f;
    direction: rtl; }

.hic-resolution-selector-container {
  order: 5;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100px; }
  .hic-resolution-selector-container select {
    display: block;
    margin-top: 4px;
    height: 24px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f;
    direction: rtl; }

.hic-x-track-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 0px; }
  .hic-x-track-container div:nth-child(1) {
    width: 0px;
    height: 100%;
    margin-right: 32px; }
  .hic-x-track-container div:nth-child(2) {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: calc(100% - (0px + 32px + 20px));
    height: 100%;
    margin-right: 20px; }
    .hic-x-track-container div:nth-child(2) div {
      width: 100%;
      margin-right: 0; }

.hic-content-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - (70px + 8px + 0px)); }
  .hic-content-container div:nth-child(1) {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 32px; }
    .hic-content-container div:nth-child(1) div {
      width: calc(100% - (0px + 32px + 20px));
      height: 100%;
      margin-right: 20px; }
  .hic-content-container div:nth-child(2) {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%; }
    .hic-content-container div:nth-child(2) div:nth-child(1) {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 0px;
      height: 100%; }
      .hic-content-container div:nth-child(2) div:nth-child(1) div {
        height: 100%;
        margin-right: 0; }
    .hic-content-container div:nth-child(2) div:nth-child(2) {
      width: 32px;
      height: 100%; }
    .hic-content-container div:nth-child(2) div:nth-child(3) {
      display: block;
      position: relative;
      left: 0;
      top: 0;
      width: calc(100% - (0px + 32px + 20px));
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden; }
      .hic-content-container div:nth-child(2) div:nth-child(3) div {
        display: table-cell;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        width: 120px;
        z-index: 1024;
        font-size: 32px;
        color: #7f7f7f;
        pointer-events: none;
        background-color: transparent; }
      .hic-content-container div:nth-child(2) div:nth-child(3) .hic-sweep-zoom {
        position: absolute;
        z-index: 99999;
        background-color: rgba(68, 134, 247, 0.25); }
    .hic-content-container div:nth-child(2) div:nth-child(4) {
      display: block;
      position: relative;
      width: 20px;
      height: 100%;
      background-color: #efefef; }
      .hic-content-container div:nth-child(2) div:nth-child(4) div:first-child {
        display: table-cell;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        width: 20px;
        z-index: 1024;
        background-color: rgba(255, 255, 255, 0.51);
        vertical-align: middle;
        text-align: center;
        line-height: 20px;
        color: #373737;
        font-family: "Open Sans", sans-serif;
        font-size: medium;
        font-weight: 400; }
      .hic-content-container div:nth-child(2) div:nth-child(4) div:last-child {
        position: relative;
        /* dynamic y and height */
        top: 25%;
        height: 50%;
        left: 0;
        width: 100%;
        background-color: #a5a5a5; }
  .hic-content-container div:nth-child(3) {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 20px; }
    .hic-content-container div:nth-child(3) div {
      display: block;
      position: relative;
      width: calc(100% - (0px + 32px + 20px));
      height: 100%;
      margin-right: 20px;
      background-color: #efefef; }
      .hic-content-container div:nth-child(3) div div:first-child {
        display: table-cell;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        width: 20px;
        z-index: 1024;
        background-color: rgba(255, 255, 255, 0.51);
        vertical-align: middle;
        text-align: center;
        line-height: 20px;
        color: #373737;
        font-family: "Open Sans", sans-serif;
        font-size: medium;
        font-weight: 400; }
      .hic-content-container div:nth-child(3) div div:last-child {
        position: relative;
        /* dynamic x and width */
        left: 25%;
        width: 50%;
        top: 0;
        height: 100%;
        background-color: #a5a5a5; }

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=juicebox.css.map */
